[Unit]
Description=Watson Multi Start
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/watsonsvc start

Restart=no
RestartPreventExitStatus=78

[Install]
WantedBy=default.target
